rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner(uid) {
      return request.auth != null && request.auth.uid == uid;
    }

    match /users/{uid}/todos/{todoId} {
      allow read, create, update, delete: if isOwner(uid);
    }

    match /users/{uid}/meta/{docId} {
      allow read, create, update, delete: if isOwner(uid);
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
